<h1>Dream Journal</h1>

<% if @dreams.any? %>
  <% @dreams.each do |dream| %>
    <div class="dream">
    <h2><%= link_to dream[:title], dream_path(dream[:id]) %></h2>
    </div>
  <% end %>
<% else %>
    <p>No dreams in journal.</p>
<% end %>


